.cards {
  background-color: #f1ebe2;
  min-height: 100vh;
}
.cards__container {
  padding: 125px 90px;
}
.cards__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}
.cards__list {
  margin-top: 95px;
  margin-bottom: 105px;
}
.cards__wrapper {
  display: flex;
  gap: 75px;
}
.cards__item {
  width: 270px;
  height: 617px;
}
.cards__item img {
  width: 100%;
  height: 100%;
}
.cards__btn {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 276px;
  height: 52px;
  border: 1px solid #b0976e;
  border-radius: 3px;
  margin: 0 auto;
  color: #b0976e;
}

@media (max-width: 1200px) {
  .cards__container {
    max-width: 1024px;
    padding: 121px 41px;
  }
  .cards__list {
    gap: 31px;
  }
  .cards__item {
    width: 213px;
    height: 530px;
  }
}
@media (max-width: 920px) {
  .cards__container {
    display: grid;
    max-width: 768px;
    padding: 70px 0px 70px 21px;
    gap: 60px;
  }
  .cards__list {
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  .cards__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: scroll;
    gap: 20px;
    scrollbar-width: none;
  }
  .cards__wrapper::-webkit-scrollbar, .cards__wrapper::-webkit-scrollbar-button, .cards__wrapper::-webkit-scrollbar-track, .cards__wrapper::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
  }
  .cards__item {
    flex-shrink: 0;
    width: 270px;
    height: 617px;
  }
}