.info {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 115px 90px;
  }
  &__start {
    display: grid;
    gap: 38px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 27px;
    overflow: hidden;
    letter-spacing: 0.05em;
    color: #333333;
    &-text{
      visibility: hidden;
      overflow: hidden;
      &:first-child {
        animation-delay: 0.3s;
      }
      &:nth-child(2) {
        animation-delay: 0.5s;
      }
    }
  }
  &__link {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 16px;
    // line-height: 160%;
    color: #b0976e;
    animation-delay: 0.7s;
  }
  &__end {
    display: grid;
    gap: 26px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    opacity: 0.8;
    overflow: hidden;
    &-text {
      visibility: hidden;
      overflow: hidden;
      &:first-child {
        animation-delay: 0.3s;
      }
      &:nth-child(2) {
        animation-delay: 0.5s;
      }
      &:nth-child(3) {
        animation-delay: 0.7s;
      }
      &:nth-child(4) {
        animation-delay: 0.9s;
      }
    }
  }
}
.fadeindown {
  animation-name: fadeindown;
  animation-duration: 1s;
  animation-fill-mode: both;
  visibility: visible;
}

@keyframes fadeindown {
  0% {
    opacity: 0;
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@media (max-width: 1200px) {
  .info {
    &__container {
      max-width: 1024px;
      padding: 115px 40px;
      gap: 40px;
    }
  }
}

@media (max-width: 870px) {
  .info {
    &__container {
      max-width: 768px;
      grid-template-columns: 1fr;
      gap: 50px;
      padding: 70px 20px;
    }
  }
}
