.swiper-block {
  min-height: 100vh;
}
.swiper-block__container {
  display: grid;
  padding: 0px;
  padding-left: 40px;
  max-width: 1440px;
}
.swiper-block__info {
  display: none;
}
.swiper-block__info-wrapper {
  width: 100%;
  height: 542px;
}
.swiper-block__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 74px;
}
.swiper-block__descr {
  width: 200px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #777777;
}

.swiper {
  cursor: pointer;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  min-height: 100vh;
}

.swiper-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition-property: transform;
  box-sizing: content-box;
  scrollbar-width: none;
}
.swiper-wrapper::-webkit-scrollbar, .swiper-wrapper::-webkit-scrollbar-button, .swiper-wrapper::-webkit-scrollbar-track, .swiper-wrapper::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}
.swiper-wrapper-mobile {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  overflow-x: scroll;
  gap: 20px;
  scrollbar-width: none;
}
.swiper-wrapper-mobile::-webkit-scrollbar, .swiper-wrapper-mobile::-webkit-scrollbar-button, .swiper-wrapper-mobile::-webkit-scrollbar-track, .swiper-wrapper-mobile::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}

.swiper-slide {
  display: grid;
  grid-template-columns: 1fr;
  visibility: hidden;
  max-height: 542px;
  flex-shrink: 0;
  position: relative;
  margin: auto 0;
  transition-property: transform;
  will-change: scroll-position;
}
.swiper-slide:nth-child(1) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.swiper-slide:nth-child(2) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
.swiper-slide:nth-child(3) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
.swiper-slide:nth-child(4) {
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}
.swiper-slide__info-wrapper {
  width: 100%;
  height: 542px;
  display: flex;
  flex-direction: column;
}
.swiper-slide__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 74px;
}
.swiper-slide__descr {
  width: 200px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #777777;
}
.swiper-slide__img img {
  width: 100%;
  height: 495px;
}
.swiper-slide__pagination {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgba(176, 151, 110, 0.3);
}
.swiper-slide__pagination .swiper-pagination-progressbar {
  height: 100%;
  background-color: rgba(176, 151, 110, 0.3);
}
.swiper-slide__pagination .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: rgba(176, 151, 110, 0.7);
}

.slideinup {
  -webkit-animation-name: slideinup;
          animation-name: slideinup;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: visible;
}

@-webkit-keyframes slideinup {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideinup {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.none {
  display: none;
}

@media (max-width: 950px) {
  .swiper-block {
    min-height: 100%;
  }

  .swiper-block__container {
    max-width: 768px;
    max-height: 100%;
    padding-left: 21px;
    padding-top: 80px;
  }

  .swiper {
    width: 98%;
    min-height: 100%;
  }

  .swiper-block__info {
    display: grid;
    justify-items: center;
  }

  .swiper-block__descr {
    width: 345px;
  }

  .swiper-slide:first-child {
    display: none;
  }
}
@media (max-width: 670px) {
  .swiper-block {
    min-height: 559px;
    max-height: 600px;
  }
  .swiper-block__container {
    gap: 44px;
    padding-left: 15px;
    padding-top: 40px;
  }
  .swiper-block__title {
    font-size: 21px;
    text-align: center;
    margin-bottom: 25px;
  }
  .swiper-block__descr {
    text-align: center;
  }

  .swiper {
    width: 98%;
  }
  .swiper-wrapper {
    display: none;
  }
  .swiper-wrapper-mobile {
    display: flex;
  }
  .swiper-slide {
    max-width: 200px;
    max-height: 332px;
    margin: 0;
  }
  .swiper-slide img {
    width: 200px;
    height: 300px;
  }
  .swiper-slide__info-wrapper {
    max-height: 332px;
  }
}