.swiper-block {
  min-height: 100vh;
  max-height: 100vh;

  &__container {
    display: grid;
    padding: 0px;
    max-width: 1440px;
    max-height: 100vh;
  }
  &__info {
    display: none;
    &-wrapper {
      width: 100%;
      height: 542px;
    }
  }
  &__title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 74px;
  }
  &__descr {
    width: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #777777;
  }
}
.swiper {
  cursor: pointer;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 90px;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  max-height: 100vh;
}
.swiper-wrapper {
  display: flex;
  // gap: 60px;
  position: relative;
  width: 100%;
  max-height: 100vh;
  z-index: 1;
  transition-property: transform;
  box-sizing: content-box;
  scrollbar-width: none;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
  }
  &-mobile {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    // transition-property: transform;
    // box-sizing: content-box;
    overflow: hidden;
    overflow-x: scroll;
    gap: 20px;
    scrollbar-width: none;
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      width: 0;
      height: 0;
    }
  }
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  // max-height: 542px;
  max-height: 100vh;
  flex-shrink: 0;
  position: relative;
  margin: auto 0;
  transition-property: transform;
  // animation-delay: 0.3s;
  will-change: scroll-position;
  &:nth-child(1) {
    animation-delay: 2s;
  }
  &:nth-child(2) {
    animation-delay: 2.3s;
  }
  &:nth-child(3) {
    animation-delay: 2.6s;
  }

  &__info {
    &-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 74px;
  }
  &__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #777777;
  }

  &__img {
    height: 95%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.slideinup {
  animation-name: slideinup;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  visibility: visible;
}

@keyframes slideinup {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.none {
  display: none;
}
// .pullup{
// 	animation-name: pullup;
// 	-webkit-animation-name: pullup;

// 	animation-duration: 0.6s;
// 	-webkit-animation-duration: 0.6s;

// 	animation-timing-function: ease;
// 	-webkit-animation-timing-function: ease;

// 	transform-origin: 0 100%;
// 	-ms-transform-origin: 0 100%;
// 	-webkit-transform-origin: 0 100%;
//   visibility: visible;
// }

// @keyframes pullup {
// 	0% {
// 		transform: scaleY(0.1);
// 	}
// 	// 40% {
// 	// 	transform: scaleY(1.02);
// 	// }
// 	// 60% {
// 	// 	transform: scaleY(0.98);
// 	// }
// 	// 80% {
// 	// 	transform: scaleY(1.01);
// 	// }
// 	// 100% {
// 	// 	transform: scaleY(0.98);
// 	// }
// 	// 80% {
// 	// 	transform: scaleY(1.01);
// 	// }
// 	100% {
// 		transform: scaleY(1);
// 	}
// }

// @-webkit-keyframes pullup {
// 	0% {
// 		-webkit-transform: scaleY(0.1);
// 	}
// 	// 40% {
// 	// 	-webkit-transform: scaleY(1.02);
// 	// }
// 	// 60% {
// 	// 	-webkit-transform: scaleY(0.98);
// 	// }
// 	// 80% {
// 	// 	-webkit-transform: scaleY(1.01);
// 	// }
// 	// 100% {
// 	// 	-webkit-transform: scaleY(0.98);
// 	// }
// 	// 80% {
// 	// 	-webkit-transform: scaleY(1.01);
// 	// }
// 	100% {
// 		-webkit-transform: scaleY(1);
// 	}
// }
// @media(max-width:)
@media (max-width: 950px) {
  .swiper-block {
    min-height: 100%;
  }
  .swiper-block__container {
    max-width: 768px;
    max-height: 100%;
    padding-top: 80px;
  }
  .swiper {
    min-height: 100%;
  }
  .swiper-block__info {
    display: grid;
    justify-items: center;
  }
  .swiper-block__descr {
    width: 345px;
  }
  .swiper-slide {
    &:first-child {
      display: none;
    }
    &:nth-child(2) {
      animation-delay: 2s;
    }
    &:nth-child(3) {
      animation-delay: 2.3s;
    }
    &:nth-child(4) {
      animation-delay: 2.6s;
    }
  }
}

@media (max-width: 670px) {
  .swiper-block {
    min-height: 559px;
    max-height: 600px;
    &__container {
      gap: 44px;
      padding-top: 40px;
    }
    &__title {
      font-size: 21px;
      text-align: center;
      margin-bottom: 25px;
    }
    &__descr {
      text-align: center;
    }
  }
  .swiper {
    &-wrapper {
      display: none;
      &-mobile {
        display: flex;
      }
    }
    &-slide {
      max-width: 200px;
      max-height: 332px;
      margin: 0;
      img {
        width: 200px;
        height: 300px;
      }
      &__info-wrapper {
        max-height: 332px;
      }
    }
  }
}

@media (max-width: 450px) {
  .swiper-slide {
    &:nth-child(2) {
      animation-delay: 2s;
    }
    &:nth-child(3) {
      animation-delay: 2.3s;
    }
    &:nth-child(4) {
      animation-delay: 0s;
    }
  }
}
